<div class="container mt-5 bg-info" *ngIf="listItem.length != 0">
  <h3>Added Item List</h3>

  <table class="table mt-3">
    <thead class="thead-light">
      <tr>
        <th>Items No</th>
        <th>Item Name</th>
        <th>Delete Item</th>
        <th>Cart Item</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listItem; index as listItemNo">
        <td>{{ listItemNo + 1 }}</td>
        <td>{{ item }}</td>
        <td>
          <button (click)="onDeleteItemHandler(item)" class="btn btn-danger">
            Remove Item
          </button>
        </td>
        <td>
          <button (click)="onCartItemHandler(item)" class="btn btn-primary">
            Cart Item
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
