body{
    background-color: #63a1a1;
}
.txt{
    color: green;
}
.img{
    text-align: center;
}
.button{
    border: 2px;
    padding: 10px;
    text-align: center;
    background-color: #27c927d4;
    color: white;
    width: 45px;
    margin-left: 650px;
    border-radius: 2px 2px 2px 2px;
}