<div class="container mt-5 bg-info" *ngIf="cartList.length != 0">
  <h3>Cart Item list</h3>
  <table class="table mt-3">
    <thead class="thead-light">
      <tr>
        <th>Items No</th>
        <th>Item Name</th>
        <th>Delete Cart Item</th>
        <th>Purchase Cart Item</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartList; index as cartNo">
        <td>{{ cartNo + 1 }}</td>
        <td>{{ item }}</td>
        <td>
          <button (click)="onDeleteCartHandler(cartNo)" class="btn btn-danger">
            Remove Item
          </button>
        </td>
        <td>
          <button (click)="onPurchaseHandler(cartNo)" class="btn btn-success">
            Purchase
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
