<div class="container mt-5 bg-info" *ngIf="cartlist.length != 0">
  <h3>Cart Item list</h3>
  <table class="table mt-3">
    <thead class="thead-light">
      <tr>
        <th>Items No</th>
        <th>Item Name</th>
        <th>Delete Cart Item</th>
        <th>Purchase Cart Item</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of cartlist; index as Cartno">
        <td>{{Cartno + 1}}</td>
        <td>{{i}}</td>
        <td>
          <button (click)="onDeleteCart(Cartno)" class="btn btn-danger">Remove Item</button>
        </td> 
        <td>
          <button (click)="onPurchase(Cartno)"class="btn btn-success">Purchase</button>
        </td>

      </tr>
    </tbody>
  </table>
</div>
