* {
  padding: 0;
  margin: 0;
}

.heading {
  text-align: center;
  text-decoration: underline;
  padding: 10px;
}

.firstName {
  margin-left: 100px;
}

.lastName {
  margin-left: 102px;
}

.dOB {
  margin-left: 77px;
}

.email {
  margin-left: 122px;
}

.mobile {
  margin-left: 59px;
}

.gender {
  margin-left: 127px;
}

.address {
  margin-left: 120px;
}

.city {
  margin-left: 156px;
}

.pincode {
  margin-left: 124px;
}

.state {
  margin-left: 145px;
}

.country {
  margin-left: 116px;
}

.hobbies {
  margin-left: 123px;
}

.others {
  margin-left: 194px;
}

.outer-table {
  display: flex;
}

.inner-table {
  margin-left: 71px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.character {
  text-align: center;
}

.courses {
  margin-left: 48px;
}

.form {
  margin: auto;
  width: 64%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: gainsboro;
}

.submit {
  margin-left: 380px;
  padding: 3px;
  font-size: medium;
}

.reset {
  padding: 3px;
  font-size: medium;
}
